* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    background-color: antiquewhite
}

header {
    background-color: #1f201f91;
    width: 100%;
    height: 250px;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header::before {
    content: "";
    background-image: url(images/Untitled-1.png);
    position: absolute;
    height: 250px;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 250px;
    overflow: hidden;
}

header .logo {
    text-align: center;
    /* padding-top: 30px;
    position: relative; */
}

header p {
    text-align: center;
    margin-top: 10px;
    color: antiquewhite;
    /* padding-top: 30px;
    position: relative; */
}

.about_website {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: antiquewhite;
    height: 70vh;
    /* width: 100vw; */
}

.about_website h1 {
    font-size: 120%;
}

.about_website p {
    margin-top: 3vh;
}

.about_website a button {
    outline: none;
    border: none;
    margin-top: 4vh;
    padding: 3vh;
    width: 350px;
    background-image: linear-gradient(130deg, yellow, red);
    font-size: large;
    cursor: pointer;
    color: #cef3b4;
    border-radius: 35px;
}

.about_website a button:hover {
    background-image: linear-gradient(190deg, yellow, red);
}