* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: cursive;
    letter-spacing: 2px;
}

.content {
    display: flex;
    width: 100%;
}

.content .topics {
    width: 150px;
    height: 100%;
    overflow-y: auto;
}

.topics ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
    /* margin-left: 5px; */
}

.topics ul a {
    text-decoration: none;
}

.topics ul a li {
    padding: 10px;
    border-top: 2px solid red;
    color: antiquewhite;
    text-decoration: none;
}

.content .about_topic {
    flex-grow: 1;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content .about_topic .page_heading {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}


/* ORDERED PARA */

.content .about_topic .ordered-para {
    margin-left: 2em;
}

.content .about_topic .ordered-para h2 {
    margin-top: 5px;
}

.content .about_topic .ordered-para ol {
    display: flex;
    flex-direction: column;
}

.content .about_topic .ordered-para ol li {
    margin-top: 10px;
}


/* SECOND PARA */

.content .about_topic .unordered-para {
    margin-left: 2em;
}

.content .about_topic .unordered-para h2 {
    margin-top: 5px;
}

.content .about_topic .unordered-para ul {
    display: flex;
    flex-direction: column;
}

.content .about_topic .unordered-para ul li {
    margin-top: 10px;
}


/* buttons */

.pre-nex-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding: 1em;
    background-color: #2b2e2b;
}

.pre-nex-buttons .previous {
    margin-left: 5px;
}

.pre-nex-buttons .buttons {
    padding: 1em;
    width: 10em;
    border: none;
    border-radius: 20px;
    background-color: #4bc5ff;
    color: #a30707;
    outline: none;
    cursor: pointer;
    font-family: 'Secular One', sans-serif;
    bottom: 0em;
}

footer {
    background-color: black;
    color: #4bc5ff;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .content .topics {
        display: none;
    }
    #topicsmobile {
        display: flex;
        position: absolute;
        max-height: 100vh;
        overflow-y: scroll;
        background-color: black;
    }
    .pre-nex-buttons .buttons {
        max-width: 7em;
    }
}