        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    nav {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #e9e9e99c;
    }
    
    nav.logo {}
    
    nav .page_shower {
        display: flex;
        flex-direction: row;
    }
    
    nav .page_shower .html {
        background-color: rgb(5, 224, 5);
    }
    
    nav .page_shower a {
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
    }
    
    nav .page_shower a li {
        list-style: none;
        padding: 0.8em;
        align-items: center;
        justify-content: center;
        /* background-color: beige; */
    }
    
    nav .page_shower a li:hover {
        background-color: rgb(2, 179, 2);
    }
    
    nav .page_shower a li:hover {
        color: rgb(255, 255, 255);
    }
    /* login sign up button */
    
    nav .login_signup {
        margin-right: 30px;
    }
    
    nav .login_signup ul {
        display: flex;
        flex-direction: row;
    }
    
    nav .login_signup ul a {
        text-decoration: none;
        color: black;
    }
    
    nav .login_signup ul a li {
        list-style: none;
        padding: 0.8em;
        align-items: center;
        justify-content: center;
        background-color: #ff7272;
        color: #c4ffe7;
        width: 100px;
        text-align: center;
    }
    
    .navmobile {
        display: none;
    }
    
    @media screen and (max-width: 1000px) {
        nav {
            display: none;
        }
        .navmobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #e9e9e99c;
            position: relative;
        }
        .navmobile .navmenu {
            text-decoration: none;
            color: black;
            font-size: 30px;
            background-color: aqua;
            margin-left: 8px;
            padding-left: 7px;
            padding-right: 7px;
        }
        .navmobile .login_signup ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .navmobile .login_signup ul a {
            text-decoration: none;
            margin-right: 8px;
        }
        .navmobile .login_signup ul a li {
            list-style: none;
            padding: 0.8em;
            align-items: center;
            justify-content: center;
            background-color: #ff7272;
            color: #c4ffe7;
            width: 100px;
            text-align: center;
        }